.content-header>h1>small {
    padding-left: 18px;
}

.create {
    width: 30%;
    margin: 3% auto 0 auto;

}

.list {
    width: 98%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#list_paginate {
    float: right;
}

.button-bar {
    margin-bottom: 1%;
    margin-top: 1%;
}

.box {
    margin-bottom: 0;
}

.float-right {
    float: right;
}

.color-red {
    color: #FF0000;
}
.show-error {
    width: 100%;
    text-align: center;
}