ul {
    margin-top: 5px;
    clear: both;
    font-size: 15px;
}

li {
    float: left;
}

.top {
     width: 101%;
     background-color: #3c8dbc;
     margin-left: -2em;
 }

.son, .grandson {
    margin-left:-6em;
    width: 200%;
}

.grandson li {
    margin-right: 20px;
}

li label {
    position: relative;
    z-index: 1;
}